@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        @Html.AntiForgeryToken()

        <ul style="margin-left:-10%">
            <li class="MyList" style="width:auto"><a href="#">Hello @User.Identity.GetUserName()</a></li>
            <li class="MyList"><a href="/Account/LogOff">Logout</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right" style="margin-left:-10%">
            @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

        <li class="MyList"><a href="/Account/Login">Login</a></li>
        <li class="MyList"><a href="/Account/Register">Register</a></li>

    </ul>
}


<style type="text/css">
    .MyList {
        width: 80px;
        height: 80px;
        margin-right: 10%;
        text-align: center;
        box-shadow: 4px 5px 6px white;
    }
</style>

@section scripts
{
    
    
    
    
}
