
@{
    ViewBag.Title = "Mammals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="mammal_wrapper" style="margin-top:10px; width:98%; height:500px; overflow:scroll; ">

    <h1 style="margin-left:10%;">Mammal</h1>

    <a href="~/Images/dolphin1.jpg" style="margin-left:10%;">
        <img id="img1" src="~/Images/dolphin1.jpg" style="width:50%; height:200px;" />
    </a>
    <p style="width:90%; margin-left:auto">
        Mammals are any vertebrates within the class Mammalia (/m?'me?li.?/ from Latin mamma "breast"), a clade of endothermic amniotes distinguished from reptiles and birds by the possession of a neocortex (a region of the brain), hair, three middle ear bones and mammary glands. The sister group of mammals may be the extinct Haldanodon. The mammals represent the only living Synapsida, which together with the Sauropsida form the Amniota clade. The mammals consist of the Yinotheria including monotrema and the Theriiformes including the theria.

        Mammals include the largest animals on the planet, the great whales, as well as some of the most intelligent, such as elephants, primates and cetaceans. The basic body type is a terrestrial quadruped, but some mammals are adapted for life at sea, in the air, in trees, underground or on two legs. The largest group of mammals, the placentals, have a placenta, which enables the feeding of the fetus during gestation. Mammals range in size from the 30–40 mm (1.2–1.6 in) bumblebee bat to the 30-meter (98 ft) blue whale. With the exception of the five species of monotreme (egg-laying mammals), all modern mammals give birth to live young. Most mammals, including the six most species-rich orders, belong to the placental group. The three largest orders in number of species are Rodentia: mice, rats, porcupines, beavers, capybaras and other gnawing mammals; Chiroptera: bats; and Soricomorpha: shrews, moles and solenodons. The next three biggest orders, depending on the biological classification scheme used, are the Primates including the great apes and monkeys; the Cetartiodactyla including whales and even-toed ungulates; and the Carnivora which includes cats, dogs, weasels, bears and seals.
    </p>

</div>


@section scripts
{
    <script src="~/Content/theme/Jquery-theme-darkness/jquery-ui.js"></script>
    
}
