
@{
    ViewBag.Title = "pollution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left:5%">pollution</h2>

<div id="wrapper" style="height:480px; width:100%; overflow:scroll">

    <section id="pollution_wrapper">

        <ul id="gallery_pulltion1" style="width:100%; height:100px; overflow:hidden;">

            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution2.jpg" target="_blank"><img src="~/Images/naturepollution2.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution3.jpg" target="_blank"><img src="~/Images/naturepollution3.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution4.jpg" target="_blank"><img src="~/Images/naturepollution4.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution5.jpg" target="_blank"><img src="~/Images/naturepollution5.jpg" class="imgSize4" /></a></li>

        </ul>

        <ul id="gallery_pulltion1" style="width:100%; height:100px; overflow:hidden;">

            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution6.jpg" target="_blank"><img src="~/Images/naturepollution6.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution7.jpg" target="_blank"><img src="~/Images/naturepollution7.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution8.jpg" target="_blank"><img src="~/Images/naturepollution8.jpg" class="imgSize4" /></a></li>
            <li style="list-style:none; margin-left:0.625%; height:100px; display:inline-block; width:23%; float:left;"><a href="~/Images/naturepollution9.jpg" target="_blank"><img src="~/Images/naturepollution9.jpg" class="imgSize4" /></a></li>

        </ul>


    </section>


    <p id="p1" style="margin-left:5%;">
        Air pollution has always accompanied civilizations. Pollution started from prehistoric times when man created the first fires. According to a 1983 article in the journal Science, "soot"
        found on ceilings of prehistoric caves provides ample evidence of the high levels of pollution that was associated with inadequate ventilation of open fires."[2] Metal forging appears to be a key turning point in the creation of significant air pollution levels outside the home. Core samples of glaciers in Greenland indicate increases in pollution associated with Greek, Roman and Chinese metal production,[3] but at that time the pollution was comparatively small and could be handled by nature.
        Urban pollution
        Air pollution in the US, 1973

        The burning of coal and wood, and the presence of many horses in concentrated areas made the cities
        the cesspools of pollution. The Industrial Revolution brought an infusion of untreated chemicals and
        wastes into local streams that served as the water supply. King Edward I of England banned the burning of sea-
        coal by proclamation in London in 1272, after its smoke became a problem.[4][5] But the fuel was so common
        in England that this earliest of names for it was acquired because it could be carted away from some shores
        by the wheelbarrow.

        It was the industrial revolution that gave birth to environmental pollution as we know it today. London also
        recorded one of the earlier extreme cases of water quality problems with the Great Stink on the Thames of 1858,
        which led to construction of the London sewerage system soon afterward. Pollution issues escalated as population
        growth far exceeded view ability of neighborhoods to handle their waste problem. Reformers began to demand
        sewer systems, and clean water.[6]

        In 1870, the sanitary conditions in Berlin were among the worst in Europe. August Bebel recalled conditions
        before a modern sewer system was built in the late 1870s:

        "Waste-water from the houses collected in the gutters running alongside the curbs and emitted a truly
        fearsome smell. There were no public toilets in the streets or squares. Visitors, especially women, often became
        desperate when nature called. In the public buildings the sanitary facilities were unbelievably primitive....
        As a metropolis, Berlin did not emerge from a state of barbarism into civilization until after 1870."[7]

        The primitive conditions were intolerable for a world national capital, and the Imperial German government
        brought in its scientists, engineers and urban planners to not only solve the deficiencies but to forge Berlin
        as the world's model city. A British expert in 1906 concluded that Berlin represented "the most complete
        application of science, order and method of public life," adding "it is a marvel of civic administration,
        the most modern and most perfectly organized city that there is."[8]

        The emergence of great factories and consumption of immense quantities of coal gave rise to unprecedented
        air pollution and the large volume of industrial chemical discharges added to the growing load of untreated
        human waste. Chicago and Cincinnati were the first two American cities to enact laws ensuring cleaner air in 1881.
        Pollution became a major issue in the United States in the early twentieth century, as progressive reformers
        took issue with air pollution caused by coal burning, water pollution caused by bad sanitation, and street
        pollution caused by the 3 million horses who worked in American cities in 1900, generating large quantities
        of urine and manure. As historian Martin Melosi notes, The generation that first saw automobiles replacing the
        horses saw cars as "miracles of cleanliness.".[9] By the 1940s, however, automobile-caused smog was a major
        issue in Los Angeles.[10]

        Other cities followed around the country until early in the 20th century, when the short lived Office of
        Air Pollution was created under the Department of the Interior. Extreme smog events were experienced
        by the cities of Los Angeles and Donora, Pennsylvania in the late 1940s, serving as another public reminder.
        [11] Air pollution would continue to be a problem in England, especially later during the industrial revolution,
        and extending into the recent past with the Great Smog of 1952.

        Awareness of atmospheric pollution spread widely after World War II, with fears triggered by reports of radioactive
        fallout from atomic warfare and testing.[12] Then a non-nuclear event, The Great Smog of 1952 in London, killed at least 4000 people.[13] This prompted some of the first major modern environmental legislation, The Clean Air Act of 1956.

        Pollution began to draw major public attention in the United States between the mid-1950s and early 1970s,
        when Congress passed the Noise Control Act, the Clean Air Act, the Clean Water Act and the National Environmental
        Policy Act.[14]
        Smog Pollution in Taiwan

        Severe incidents of pollution helped increase consciousness. PCB dumping in the Hudson River resulted in a ban
        by the EPA on consumption of its fish in 1974. Long-term dioxin contamination at Love Canal starting in 1947
        became a national news story in 1978 and led to the Superfund legislation of 1980.[15] The pollution of industrial land gave rise to the name brownfield, a term now common in city planning.

        The development of nuclear science introduced radioactive contamination, which can remain lethally radioactive
        for hundreds of thousands of years. Lake Karachay, named by the Worldwatch Institute as the "most polluted spot"
        on earth, served as a disposal site for the Soviet Union throughout the 1950s and 1960s. Second place may go
        to[weasel words] the area of Chelyabinsk, Russia, as the "Most polluted place on the planet".[16]

        Nuclear weapons continued to be tested in the Cold War, especially in the earlier stages of their development.
        The toll on the worst-affected populations and the growth since then in understanding about the critical threat
        to human health posed by radioactivity has also been a prohibitive complication associated with nuclear power.
        Though extreme care is practiced in that industry, the potential for disaster suggested by incidents such as
        those at Three Mile Island and Chernobyl pose a lingering specter of public mistrust. Worldwide publicity has
        been intense on those disasters.[17] Widespread support for test ban treaties has ended almost all nuclear
        testing in the atmosphere.[18]

        International catastrophes such as the wreck of the Amoco Cadiz oil tanker off the coast of Brittany in 1978
        and the Bhopal disaster in 1984 have demonstrated the universality of such events and the scale on which efforts
        to address them needed to engage. The borderless nature of atmosphere and oceans inevitably resulted in the
        implication of pollution on a planetary level with the issue of global warming. Most recently the term persistent
        organic pollutant (POP) has come to describe a group of chemicals such as PBDEs and PFCs among others.
        Though their effects remain somewhat less well understood owing to a lack of experimental data, they have
        been detected in various ecological habitats far removed from industrial activity such as the Arctic,
        demonstrating diffusion and bioaccumulation after only a relatively brief period of widespread use.

        A much more recently discovered problem is the Great Pacific Garbage Patch, a huge concentration of plastics,
        chemical sludge and other debris which has been collected into a large area of the Pacific Ocean by the North
        Pacific Gyre. This is a less well known pollution problem than the others described above, but nonetheless
        has multiple and serious consequences such as increasing wildlife mortality, the spread of invasive species
        and human ingestion of toxic chemicals. Organizations such as 5 Gyres have researched the pollution and, along
        with artists like Marina DeBris, are working toward publicizing the issue.

        Pollution introduced by light at night is becoming a global problem, more severe in urban centres,
        but nonetheless contaminating also large territories, far away from towns.[19]
    </p>

    <a id="anfang" href="#" style="margin-left:87%; font-weight:bolder; color:blue">Back to top</a>

    <br />
    <br />

</div>


@section scripts
{


    <script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Content/theme/Jquery-theme-darkness/jquery-ui.js"></script>

    <script src="~/Scripts/jquery-cycle-plugin.js"></script>
    <script src="~/Scripts/jquery.textillate.js"></script>
    <script src="~/Scripts/jquery.lettering.js"></script>

    <script type="text/javascript">

    jQuery(document).ready(function () {

        $("#anfang").bind("click", function () {

            $("#wrapper").animate({

                scrollTop:0
            }, 2000, function () { });
        });
        
    });


    </script>

    <style type="text/css">

        .imgSize4 {
            width: 100%;
            height: auto;
            overflow:scroll;
        }


        #p1:hover {
        
            background-color:antiquewhite;
        }


        #gallery_pulltion1 >  li > a > img:hover {
        
            transform:scale(0.8);
            border:3px solid black;
            /*opacity:0.6;*/
        }




    </style>

}
