
@{
    ViewBag.Title = "world_history";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="world_history_wrapper;">


    <article id="img1"  style="width:40%; height:550px; float:left;">
        
        <div id="slider3">

            <img src="~/Images/world_creation2.jpg" class="imgSize3"/>

            <img src="~/Images/world_creation3.jpg" class="imgSize3" />

            <img src="~/Images/world_creation4.jpg" class="imgSize3" />

           
        </div>

    </article>


    <article id="article_div" style="width:60%; height:550px; background-color:white; float:left; overflow:scroll "> 

        <span style="font-size:42px; margin-left:2%;  font-family:'Freestyle Script'; text-shadow:4px 5px 6px black;">Nature history</span>

        <a id="plus" href="#" style="margin-left:10%;"><strong>(+)</strong></a>

        <a id="minus" href="#" style="margin-left:11%;"><strong>(-)</strong></a>

        <div id="div1"  style="width:2%; height:20px; position:fixed; left:76.7%; top:122px;  background:radial-gradient(lightblue,white);"></div>
        
        <div id="div1" style="width:98%; height:3px;   background-color:lightblue"></div>

      
        <br />

        <p id="p2" style="width:90%; margin-left:2%;">
            From Wikipedia, 
            World history,It examines history from a global
            perspective. It is not to be confused with comparative history, which, like world
            history, deals with the history of multiple cultures and nations, but does not do
            so on a global scale.

            World history looks for common patterns that emerge across all cultures. World
            historians use a thematic approach, with two major focal points: integration
            (how processes of world history have drawn people of the world together) and
            difference (how patterns of world history reveal the diversity of the human
            experiences).
            The advent of world history as a distinct academic field of study can be traced
            to 1980s,[1] and was heralded by the creation of the World History Association
            and graduate programs at a handful of universities. Over the next decades scholarly
            publications, professional and academic organizations, and graduate programs in
            world history proliferated. World History has often displaced Western Civilization
            in the required curriculum of American high schools and universities, and is supported
            by new textbooks with a world history approach.

            The study of world history, as distinct from national history, has existed
            in many world cultures.
            However, early forms of world history were not truly global, and were limited
            to only the regions known by the historian.

            In Ancient China, Chinese world history, that of China and the surrounding people
            of East Asia, was based on the dynastic cycle articulated by Sima Qian in circa 100 BC.
            Sima Qian's model is based on the Mandate of Heaven. Rulers rise when they united China,
            then are overthrown when a ruling dynasty became corrupt.[5] Each new dynasty begins
            virtuous and strong, but then decays, provoking the transfer of Heaven's mandate to a
            new ruler. The test of virtue in a new dynasty is success in being obeyed by China and
            neighboring barbarians. After 2000 years Sima Qian's model still dominates scholarship, although the dynastic cycle is no longer used for modern Chinese history.[6]

            In Ancient Greece, Herodotus (5th century BC), as founder of Greek historiography,[7]
            presents insightful and lively discussions of the customs, geography, and history of
            Mediterranean peoples, particularly the Egyptians. However, his great rival Thucydides
            promptly discarded Herodotus's all-embracing approach to history, offering instead a
            more precise, sharply focused monograph, dealing not with vast empires over the centuries
            but with 27 years of war between Athens and Sparta. In Rome, the vast, patriotic
            history of Rome by Livy (59 BC-17 AD) approximated Herodotean inclusiveness;[8] Polybius
            (c.200-c.118 BC) aspired to combine the logical rigor of Thucydides with the scope
            of Herodotus.[9]

            In Central Asia, The Secret History of Mongols is regarded as the single significant
            native Mongolian account of Genghis Khan. The Secret History is regarded as a
            piece of classic literature in both Mongolia and the rest of the world.

            In the Middle East, Ala'iddin Ata-Malik Juvayni (1226–1283) was a Persian historian
            who wrote an account of the Mongol Empire entitled Ta' rīkh-i jahān-gushā (History of the World Conqueror).[10] The standard edition of Juvayni is published under the title Ta' rīkh-i jahān-gushā, ed. Mirza Muhammad Qazwini, 3 vol, Gibb Memorial Series 16 (Leiden and London, 1912–37). An English translation by John Andrew Boyle "The History of the World-Conqueror" was republished in 1997.

            Rashīd al-Dīn Fadhl-allāh Hamadānī (1247–1318), was a Persian physician of Jewish
            origin, polymathic writer and historian, who wrote an enormous Islamic history,
            the Jami al-Tawarikh, in the Persian language, often considered a landmark in intercultural historiography and a key document on the Ilkhanids (13th and 14th century).[11] His encyclopedic knowledge of a wide range of cultures from Mongolia to China to the Steppes of Central Eurasia to Persia, the Arab lands, and Europe, provide the most direct access to information on the late Mongol era. His descriptions also highlight the manner in which the Mongol Empire and its emphasis on trade resulted in an atmosphere of cultural and religious exchange and intellectual ferment, resulting in the transmission of a host of ideas from East to West and vice versa.

            One Arab scholar, Ibn Khaldun (1332-1409) broke with traditionalism and offered a
            model of historical change in Muqaddimah, an exposition of the methodology of
            scientific history. Ibn Khaldun focused on the reasons for the rise and fall of
            civilization, arguing that the causes of change are to be sought in the economic
            and social structure of society. His work was largely ignored in the Muslim
            world.[12] Otherwise the Muslim, Chinese and Indian intellectuals held fast to
            a religious traditionalism, leaving them unprepared to advise national leaders
            on how to confront the European intrusion into Asia after 1500.
        </p>

        <h4 style="margin-left:3%;"><a id="btn2" href="#">Back to Top</a></h4>

    </article>

</section>





@section scripts
{


    <script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="~/Content/theme/Jquery-theme-darkness/jquery-ui.js"></script>

    <script src="~/Scripts/jquery-cycle-plugin.js"></script>
    <script src="~/Scripts/jquery.textillate.js"></script>
    <script src="~/Scripts/jquery.lettering.js"></script>

    <script type="text/javascript">

    jQuery(document).ready(function () {

        $("#slider3").cycle({

            fx: 'fade',
            speed: 1500,
            timeout:1000

        });


       
        //scroll
        $("#article_div").scroll(function () {
        
            var scroll_top = $(this).scrollTop();

            $("#div1").text(scroll_top);

           
            

            if (scroll_top > $('html').scrollTop()) {
                $("#img1").css({ 'margin-top': 0 });
            }

            else {

                $("#img1").css({ 'margin-top': scroll_top });
            }
        
        });

            
        $("#btn2").on("click", function () {

            $("#article_div").animate({

                scrollTop:0
            });

        });
           


        $("#plus").click(function () {

            var _fontSize = parseInt($("#p2").css("font-size"));
            _fontSize = _fontSize + 5 + 'px';

            $("#p2").css( 'font-size', _fontSize);
        });

     
        $("#minus").click(function () {

            var _fontSize = parseInt($("#p2").css("font-size"));
            _fontSize = _fontSize - 5 + 'px';

            $("#p2").css('font-size', _fontSize);
        });
            
        

    }); // end of jquery


    </script>

<style type="text/css">

    .imgSize3 {

        width: 100%;
        height: 550px;
    }

    
    #img1 {
    
        transition:all 1s ease-in-out;
    }


    #p2:hover {
    
        cursor:inherit;
        font-family:'Franklin Gothic Medium';
        /*font-size:18px;*/
        background-color:lightblue;
    }

</style>

}