



#email_send_wrapper {
    height:550px;
    width:100%;
    
    /*background-size:cover;
    background-repeat:no-repeat;*/

}


fieldset {

    color:black;
    font-weight:bolder;
    width:80%;
    /*position:absolute;*/
    height:370px;
    background-color:#fcf1f1;
    /*z-index:1000;*/
}

.list1 > li {

    list-style:none;
    width:50%;
}


    .lst1 > li:nth-child(2) {
    margin-left:120px;
    }



/*===================980=====================*/

@media only screen and (min-width:480px) and (max-width:980px) {

    

    fieldset {
        width:60%;
    }


    


}



/*==================480======================*/

@media only screen and (max-width:480px) {

    #wrapper {
    
        height:200px;
    }
    

    .nameClass {
      
        margin-left:-200px;
    }




}
